version: '3.8'

services:
  freeswitch:
    image: drachtio/freeswitch-mrf:latest
    container_name: freeswitch-voxi
    network_mode: host
    restart: unless-stopped
    environment:
      - MOD_AUDIO_FORK=true
      - FREESWITCH_EVENT_SOCKET_PASSWORD=ClueCon
      - FREESWITCH_RTP_START_PORT=16384
      - FREESWITCH_RTP_END_PORT=32768
    volumes:
      - ./recordings:/tmp/recordings
    ports:
      - '8021:8021'
      - '5060:5060/udp'
      - '5080:5080/udp'
      - '16384-32768:16384-32768/udp'
